@{
    Layout = "_ZofyaManagementLayout";
    ViewData["Title"] = "Zofya";
}

@section Styles {
<link rel="stylesheet" href="~/css/Management/zofya_management_administrationpage_style.css" />
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.5/b-2.2.2/b-html5-2.2.2/b-print-2.2.2/datatables.min.css" />
}

<div class="page">
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="sidebar-logo-container">
                <div class="logo-container">
                    <h1 class="text-white display-3 brand-zofya brand-zofya-size">
                        Zofya
                    </h1>
                </div>
            </div>
        </div>
        <div class="sidebar-body">
            <ul class="navigation-list">
               <li class="navigation-list-item active" id="analyticsButton" onclick="setAnalyticsInformation();">
                    <a class="navigation-link" href="#">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                            <div class="col-9">
                                Analytics
                            </div>
                        </div>
                    </a>
                </li>
                <li class="navigation-list-item" id="customersButton" onclick="setCustomersInformation();">
                    <a class="navigation-link" href="#">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-users"></i>
                            </div>
                            <div class="col-9">
                                Customers
                            </div>
                        </div>
                    </a>
                </li>
                <li class="navigation-list-item" id="productsButton" onclick="setItemsInformation();">
                    <a class="navigation-link" href="#">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                            <div class="col-9">
                                Items
                            </div>
                        </div>
                    </a>
                </li>                
                <li class="navigation-list-item" id="ordersButton" onclick="setOrdersInformation();">
                    <a class="navigation-link" href="#">
                        <div class="row">
                            <div class="col-2">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <div class="col-9">
                                Orders
                            </div>
                        </div>
                    </a>
                </li>
                <li class="navigation-list-item" id="personalButton" onclick="downloadData();">
                    <a class="navigation-link" href="#">
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-address-book"></i>
                            </div>
                            <div class="col-9">
                                Personal
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <nav class="navbar navbar-expand-md navbar-dark bg-dark background-dark" style="padding-bottom: 5px!important;">
        <div id="container-fluid-flex" class="container-fluid">

            <div class="content">
                <div class="navigationBar">
                    <button id="sidebarToggle" class="btn sidebarToggle active">
                        <i class="fas fa-bars"></i>
                        </a>
                    </button>
                </div>

            </div>

            <div class="right-elements d-flex align-items-center">


                <div class="dropdown">
                    <a class="link-text-style text-reset dropdown-toggle d-flex align-items-center" href="#"
                        id="navbar-dropdown-user" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i id="user-account-icon" class="fa fa-user" style="margin-right: 5px;"></i>

                        @ViewData["UserManagement"]

                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" style="margin-right: 50%;"
                        aria-labelledby="navbarDropdown">
                      
                        <li>
                            <a class="dropdown-item" asp-controller="Home" asp-action="LogOut">Logout</a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </nav>

</div>

<div class="container">
    <div id="pageContent" class="form-table">       

    </div>

    @* Modals *@
    <div class="modal fade" tabindex="-1" id="updateDialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update</h5>
                    @* <button id="buttonClose" type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"
                        onclick="hideUpdateModal();"></button> *@
                </div>
                <div class="modal-body">
                    
                    <form class="needs-validation" id="updateForm" novalidate>
                        
                        <div class="row" style="margin: 3% 0;">

                            <label id="updateNewLabel" for="updateNewLabel" class="col-12 col-lg-2 col-form-label">
                                New Field:
                            </label>   

                            <div class="form-outline col-12 col-lg-8">
                            
                                <input type="text" id="updateInput" class="form-control" placeholder="Fill in the field">
                                <label id="updateLabel" for="updateLabel" class="form-label">
                                    Field
                                </label>
                                <div id="invalidField" class="invalid-feedback" style="margin-top: 1.5%;"></div>
                             </div>

                        </div> 
                                               
                       
                    </form>


                </div>
                <div class="modal-footer" id="updateFormFooter">

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" id="updateDialogPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update</h5>
                    @* <button id="buttonClosePassword" type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"
                        onclick="hideModal('updateDialogPassword');"></button> *@
                </div>
                <div class="modal-body">

                    <form id="updateFormPassword">                        

                        <div class="row" style="margin: 3% 0;">

                            <label id="updateNewLabelCurrentPassword" for="updateNewLabelCurrentPassword" class="col-12 col-lg-2 col-form-label">
                                Current Password:
                            </label>

                            <div class="form-outline col-12 col-lg-8">

                                <input type="password" id="updateInputCurrentPassword" class="form-control" placeholder="Fill in the field">
                                <label id="updateLabelCurrentPassword" for="updateLabelCurrentPassword" class="form-label">
                                    Password
                                </label>
                                <div id="invalidFieldCurrentPassword" class="invalid-feedback"></div>
                            </div>

                        </div>

                        <div class="row" style="margin: 0 0 3% 0;">

                            <label id="updateNewLabelNewPassword" for="updateNewLabelNewPassword" class="col-12 col-lg-2 col-form-label">
                                New Password:
                            </label>

                            <div class="form-outline col-12 col-lg-8">

                                <input type="password" id="updateInputNewPassword" class="form-control" placeholder="Fill in the field">
                                <label id="updateLabelNewPassword" for="updateLabelNewPassword" class="form-label">
                                    Password
                                </label>
                                <div id="invalidFieldNewPassword" class="invalid-feedback"></div>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer" id="updateFormFooterPassword">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade top-modal" id="modalErrors" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Errors</h5>
                    @* <button id="button-close-modal-errors" type="button" class="btn-close" data-mdb-dismiss="modal"
                        aria-label="Close" onclick="hideModal('modalErrors');"></button> *@
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-action-style" data-mdb-dismiss="modal"
                        onclick="hideModal('modalErrors');">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade top-modal" id="modalCorrectMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Success</h5>                    
                </div>
                <div class="modal-body text-center">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-action-style" data-mdb-dismiss="modal"
                        onclick="hideModal('modalCorrectMessage');">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCorrectUserAccess" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Success</h5>                    
                </div>
                <div class="modal-body text-center">
                   
                </div>
                <div class="modal-footer">
                    
                    <a class="btn btn-secondary button-action-style" asp-controller="Home" asp-action="LogOut">Close</a>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCorrectUserInformation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Success</h5>                    
                </div>
                <div class="modal-body text-center">                   
                </div>
                <div class="modal-footer">
                    
                    <a class="btn btn-secondary button-action-style" asp-controller="Home" asp-action="UpdateUserInformation">Close</a>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>                    
                </div>
                <div class="modal-body">

                    <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">
                            Are you sure you want to delete this customer?
                        </label>

                    </div>

                </div>
                <div class="modal-footer">
                    <button onclick="removeCustomer();" type="button" class="btn button-action-style">Delete Customer</button>
                    <button type="button" class="btn button-action-style" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modalDeleteItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>                    
                </div>
                <div class="modal-body">

                    <div class="row mb-3">
                        <label class="col-sm-12 col-form-label">
                            Are you sure you want to delete this item?
                        </label>

                    </div>

                </div>
                <div class="modal-footer">
                    <button onclick="removeItem();" type="button" class="btn button-action-style">Delete Item</button>
                    <button type="button" class="btn button-action-style" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="addItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Item</h5>                    
                </div>
                <div class="modal-body">
                    <form class="needs-validation" id="itemForm" novalidate>

                        <div class="row" style="margin: 3% 0 5% 0;">

                            <label id="labelSKU" for="labelSKU" class="col-12 col-lg-2 col-form-label">
                                SKU:
                            </label>

                            <div class="form-outline col-12 col-lg-8">

                                <input type="text" id="newInputSKU" class="form-control" placeholder="Fill in the field">
                                <label id="newLabelSKU" for="newLabelSKU" class="form-label">
                                    SKU
                                </label>
                                <div id="invalidFieldSKU" class="invalid-feedback invalid-field-margin"></div>
                            </div>

                        </div>

                        <div class="row" style="margin: 3% 0 5% 0;">

                           <label id="labelDescription" for="labelDescription" class="col-12 col-lg-2 col-form-label">
                                Description:
                            </label>

                            <div class="form-outline col-12 col-lg-8">

                                <input type="text" id="newInputDescription" class="form-control" placeholder="Fill in the field">
                                <label id="newLabelDescription" for="newLabelDescription" class="form-label">
                                    Description
                                </label>
                                <div id="invalidFieldDescription" class="invalid-feedback invalid-field-margin"></div>
                            </div>

                        </div> 

                        <div class="row" style="margin: 3% 0 5% 0;">

                            <label id="labelName" for="labelName" class="col-12 col-lg-2 col-form-label">
                                Name:
                            </label>

                            <div class="form-outline col-12 col-lg-8">

                                <input type="text" id="newInputName" class="form-control" placeholder="Fill in the field">
                                <label id="newLabelName" for="newLabelName" class="form-label">
                                    Name
                                </label>
                                <div id="invalidFieldName" class="invalid-feedback invalid-field-margin"></div>
                            </div>

                        </div>

                        <div class="row" style="margin: 3% 0 5% 0;">

                            <label id="labelPrice" for="labelPrice" class="col-12 col-lg-2 col-form-label">
                                Price:
                            </label>

                            <div class="form-outline col-12 col-lg-8">

                                <input type="number" id="newInputPrice" class="form-control" placeholder="Fill in the field">
                                <label id="newLabelPrice" for="newLabelPrice" class="form-label">
                                    Price
                                </label>
                                <div id="invalidFieldPrice" class="invalid-feedback invalid-field-margin"></div>
                            </div>

                        </div>

                        <div class="row" style="margin: 3% 0 5% 0;">

                            <label id="labelCategory" for="labelCategory" class="col-12 col-lg-2 col-form-label">
                                Category:
                            </label>

                            <div class="col-12 col-lg-8">                              
                                <select id="newInputCategory" class="form-select">
                                    <option value="T-Shirt">T-Shirt</option>
                                    <option value="Jacket">Jacket</option>
                                    <option value="Jeans">Jeans</option>
                                    <option value="Blouse">Blouse</option>
                                    <option value="Dress">Dress</option>
                                    <option value="Pijama">Pijama</option>                                    
                                </select>
                            </div>

                        </div>

                        <div class="row" style="margin: 3% 0 5% 0;">

                            <label id="labelStatus" for="labelStatus" class="col-12 col-lg-2 col-form-label">
                                Status:
                            </label>

                            <div class="col-12 col-lg-8">                                
                                
                                <select id="newInputStatus" class="form-select">
                                    <option value="Available">Available</option>
                                    <option value="Deleted">Deleted</option>
                                    <option value="Unavailable">Unavailable</option>                                                                
                                </select>
                            </div>

                        </div>

                        <div class="row" style="margin: 3% 0 5% 0;">

                            <label id="labelStock" for="labelStock" class="col-12 col-lg-2 col-form-label">
                                Stock:
                            </label>

                            <div class="form-outline col-12 col-lg-8">

                                <input type="number" id="newInputStock" class="form-control" placeholder="Fill in the field">
                                <label id="newLabelStock" for="newLabelStock" class="form-label">
                                    Stock
                                </label>
                                <div id="invalidFieldStock" class="invalid-feedback invalid-field-margin"></div>
                            </div>

                        </div>

                        <div class="row" style="margin: 3% 0 5% 0;">

                            <label id="labelGender" for="labelGender" class="col-12 col-lg-2 col-form-label">
                                Gender:
                            </label>

                            <div class="col-12 col-lg-8">                              
                                <select id="newInputGender" class="form-select">
                                    <option value="Feminine">Feminine</option>
                                    <option value="Male">Male</option>                                                                                          
                                </select>
                            </div>

                        </div>

                        <div class="row" style="margin: 3% 0 5% 0;">

                            <label id="labelCare" for="labelCare" class="col-12 col-lg-2 col-form-label">
                                Care:
                            </label>

                            <div class="form-outline col-12 col-lg-8">

                                <input type="text" id="newInputCare" class="form-control" placeholder="Fill in the field">
                                <label id="newLabelCare" for="newLabelCare" class="form-label">
                                    Care
                                </label>
                                <div id="invalidFieldCare" class="invalid-feedback invalid-field-margin"></div>
                            </div>

                        </div>

                        <div class="row border rounded p-3" style="margin: 7% 0;">

                            <label id="labelColor" for="labelColor" class="col-12 col-lg-2 col-form-label">
                                Colors:
                            </label>

                            <div class="col-12 col-lg-6">
                               
                                <select id="newInputColor" class="form-select">
                                    <option value="#000">Black</option>
                                    <option value="#0000FF">Blue</option>
                                    <option value="#FF0000">Red</option>
                                    <option value="#FF8000">Orange</option>
                                    <option value="#800080">Purple</option>
                                    <option value="#008000">Green</option>
                                    <option value="#FFFF00">Yellow</option>
                                    <option value="#FFF">White</option>
                                    <option value="#1E918C">Turquoise</option>
                                    <option value="#FFD1DC">Pink</option>                                    
                                </select>

                            </div>

                            <div class="col-12 col-lg-4 button-add-style">
                                <button onclick="addColor();" type="button" class="btn button-action-style"
                                 id="addColorButton">Add color</button>
                            </div>

                            <div class="col-12 col-lg-10" id="pageContentColorTable">
                                
                            </div>                           
                        </div>

                        <div class="row border rounded p-3" style="margin: 7% 0;">

                            <label id="labelImage" for="labelColor" class="col-12 col-lg-2 col-form-label">
                                Images:
                            </label>

                            <div class="form-outline col-12 col-lg-6">

                                <input type="text" id="newInputImage" class="form-control" placeholder="Fill in the field">
                                <label id="newLabelImage" for="newLabelImage" class="form-label">
                                    Image
                                </label>
                                <div id="invalidFieldImage" class="invalid-feedback"></div>
                            </div>

                            <div class="col-12 col-lg-4 button-add-style">
                                <button onclick="addImage();" type="button" class="btn button-action-style"
                                 id="addImageButton">Add image</button>
                            </div>

                            <div class="col-12 col-lg-10" id="pageContentImageTable">
                                
                            </div>                           
                        </div>

                        <div class="row border rounded p-3" style="margin: 7% 0;">

                            <label id="labelSize" for="labelSize" class="col-12 col-lg-2 col-form-label">
                                Sizes:
                            </label>

                            <div class="col-12 col-lg-6">                            

                                <select id="newInputSize" class="form-select">
                                    <option value="XXS">XXS</option>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="XXL">XXL</option>                                                                
                                </select>

                            </div>

                            <div class="col-12 col-lg-4 button-add-style">
                                <button onclick="addSize();" type="button" class="btn button-action-style"
                                 id="addSizeButton">Add size</button>
                            </div>

                            <div class="col-12 col-lg-10" id="pageContentSizeTable">
                                
                            </div>                           
                        </div>
                                                                                             
                    </form>
                </div>
                
                <div id="modalFooterContent" class="modal-footer">
                    <button onclick="addItem();" type="button" class="btn button-action-style"
                        id="addItemButton">Add Item</button>
                    <button type="button" class="btn button-action-style" data-bs-dismiss="modal" 
                    onclick="hideAddItemModal();">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="updateOrderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update</h5>
                    @* <button id="buttonClose" type="button" class="btn-close"
                        onclick="hideModal('updateOrderModal');"></button> *@
                </div>
                <div class="modal-body">
                    
                    <form id="updateOrdersForm">
                        
                        <div class="row" style="margin: 3% 0;">

                            <label id="updateStatusOrder" for="updateStatusOrder" class="col-12 col-lg-2 col-form-label">
                                Status:
                            </label>   

                            <div class="col-12 col-lg-8">
                            
                                <select id="updatedStatudInput" class="form-select">
                                    <option value="In Process">In Process</option>
                                    <option value="Delivered">Delivered</option>                                                                                                
                                    <option value="Cancelled">Cancelled</option>                                                                                                
                                </select>

                             </div>

                        </div>                                                                       
                    </form>


                </div>
                <div class="modal-footer" id="updateFormFooter">
                    <button onclick="updateOrderStatus();" type="button" class="btn button-action-style"
                        id="updateOrderButton">Save status</button>
                    <button type="button" class="btn button-action-style"
                    onclick="hideModal('updateOrderModal');">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="container-fluid">
    <div id="pageContentFluid" class="form-table-fluid">
       
    </div>
</div>

<div class="container-lg">
    <div id="pageContentlg" class="form-table-lg">

    </div>
</div>

<div class="container" id="highchartsContainer">    
        
</div>



@section Scripts {

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>            
    
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.5/b-2.2.2/b-html5-2.2.2/b-print-2.2.2/datatables.min.js"></script>

    <script src="/js/Management/administrationManagement.js"></script>
    <script src="/js/Management/analytics.js"></script>
    <script src="/js/Management/items.js"></script>
    <script src="/js/Management/orders.js"></script>
    <script src="/js/Management/customers.js"></script>
    <script>

        $(document).ready(function(){    
            setAnalyticsInformation();
        });
        
        function downloadData() {

            var userEmail = '@ViewData["UserManagementEmail"]';             
            
            setAdministratorUpdateInformation(userEmail);

        }    
        
    </script>

}