::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(40, 37, 39, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    
    background: rgba(40, 37, 39, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(202, 68, 102, 0.5);
    cursor: pointer;
}

:root {
    --main-color: #c66;
}
  

body {
    background-color: #fafafa;
}

.sidebar{
    z-index: 2;
}

.navbar{
    z-index:1;
}

.page .sidebar {
    background: linear-gradient(5deg, #ca4466, #282527);
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.page .content {
    margin-left: 262px;
    transition: all 0.3s ease;
}

.navigationBar {
    background-color: transparent!important;
    height: 50px;
    display: flex;
    padding: 38px 0px;
    align-items: center;
    box-shadow: 0 4px 2px -2px transparent!important;
}

.sidebarToggle {
    font-size: 16px;
    color: rgb(0, 0, 0, 0.8);
    margin-left: -20px;
    z-index: 999;
    border-radius: 50px;
    background-color: #e6e6e6;
    transition: all 0.3s ease;
    outline: none !important;
    box-shadow: none !important;
}

.sidebarToggle.active {
    margin-left: 10px;
}

.sidebarToggle:hover {
    color: white;
}

.page .content .container {
    margin: 30px;
    background: #fff;
    padding: 50px;
    line-height: 28px;
}

body.active .page .sidebar {
    left: -250px;
}

body.active .page .content {
    margin-left: 0;
    /* width: 100%; */
}

.sidebar-header {
    padding: 10px 25px 10px 15px;
}

.sidebar-logo-container {
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    padding-left: 3px;
    display: flex;
}

.logo-container {
    max-width: 40px;
    /* background-color: rgb(255, 255, 255, 0.1); */
    border-radius: 5px;
    margin: 8px;
    padding: 6px 8px;
}

.brand-name-container {
    margin: 10px 55px 0px 2px;
    padding: 0px;
}

.logo-sidebar {
    width: 100%;
    height: auto;
}

.brand-name {
    color: white;
    margin: 0px;
    line-height: 1.1rem;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.brand-subname {
    font-weight: 300;
    font-size: 14px;
}

.navigation-list {
    list-style-type: none;
    padding: 0px 18px;
    margin-top: 30px;
}

.navigation-list-item {
    padding: 12px 18px 12px 25px;
    margin: 15px 0px;
    border-radius: 8px;

}

.navigation-list-item:hover {
    background: rgb(0, 0, 0, 0.05);
    box-shadow: 0 0 0.4em rgb(255, 255, 255, 0.1);
    cursor: pointer;
}

.navigation-list-item.active {
    background: rgb(0, 0, 0, 0.1);
    box-shadow: 0 0 0.4em rgb(255, 255, 255, 0.1);
}

.navigation-link {
    color: white;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.navigation-link i {
    font-size: 18px;
}

.navigation-list-item:hover .navigation-link {
    color: rgb(255, 255, 255, 0.7);
}

.navigation-list-item.active .navigation-link {
    color: rgb(255, 255, 255, 0.8);
    font-weight: 500;
}

.brand-zofya-size{
    font-size: 250%;
}

.form-table{
    padding-top: 65%;
}

.table{
    font-size: .5rem;       
}

/* #fullnameCol{
    width: 9px;
}
#emailCol{
    width: 18px;
} */

/* .table th{
    width: 30%!important;
} */

.form-table-fluid{
    padding-top: 0%!important;
}

.form-table-lg{
    padding-top: 0%!important;
}

@media (min-width: 576px) {
    .form-table{
        padding-top: 35%;
    }
    .table{
        font-size: .9rem;
    }       
}

@media (min-width: 768px) {
    .form-table{
        padding-top: 27%;
    }   
   
}

@media (min-width: 992px) {
    .form-table{
        padding-top: 20%;
    }
    .form-table-fluid{
        padding-top: 1%;
    }
   
}

@media (min-width: 1200px) {
    .form-table{
        padding-top: 15%;
    }
    /* .table th{
        width: 30%!important;
    } */
}

tbody, td, tfoot, th, thead, tr {
    border-color: rgb(224, 224, 224)!important;
}

.container{
    max-width: 70%;
}

.form-control.is-invalid, .was-validated .form-control:invalid{
    margin-bottom: 0;
}

.form-control.is-valid, .was-validated .form-control:valid{
    margin-bottom: 0;
}

#invalidFieldNewPassword, #invalidFieldColor, .invalid-field-margin{
    margin-top: 1.5%;
}

@media (min-width: 992px) {
    #invalidFieldNewPassword{
        margin-top: 6%;
    }    
    .invalid-field-margin{
        margin-top: 1%;
    }
}

.dataTables_empty
{
    display:none;
}

.background-color-zofya{
    background-color: var(--main-color)!important;      
}

.button-add-style{
    padding-left: 0;
    padding-top: 2%;
}

@media (min-width: 992px) {
    .button-add-style{
        padding-left: 1%!important;
        padding-top: initial;
    }
}

.top-modal{
    z-index: 10000;
}





